@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
	background-color: #fafafa
}

body {
	font-family: Open Sans, -apple-system, Lucida Grande, Arial, sans-serif;
	color: #333333;
	font-size: 16px;
	margin: 2em auto;
	max-width: 800px;
	padding: 1em;
	line-height: 1.4;
	text-align: justify
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    padding: 0;
    margin-bottom: 2em;
}

h1 {
	font-weight: 400;
	font-size: 3em;
}

.email-symbol {
	color: #888888;
}


section {
	margin-bottom: 2.5em;
}


li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.contact-table {
	font-size: 15px;
	margin: 0 0 0.5em;
	padding: 0;
}

.contact-table tr {
	line-height: 1.1;
	vertical-align: top;
}

.contact-table tr td p {
	margin: 0 0 1em;
}

.contact-table tr td:first-child {
	text-align: right;
	padding-right: 0.75em;
}





.work-table {
	font-size: 15px;
	padding: 0;

	margin-top: -2.5em;
	margin-bottom: -2.5em;

	border-collapse: separate;
	border-spacing: 0 3em;
}

.work-table tr {
	line-height: 1.1;
	vertical-align: top;
}

.work-table tr td p {
	margin: 0 0 1em;
}

.work-table tr td:first-child {
	text-align: right;
	padding-right: 3em;
	min-width: 6em;
}

.work-title {
	font-size: 1.5em;
	padding-top: 1em;
}

.work-text {
	padding-top: 0.3em;
	line-height: 1.3;
}

.work-date {
	text-align: center;
}




.study-table {
	font-size: 15px;
	padding: 0;

	margin-top: -2.5em;
	margin-bottom: -2.5em;

	border-collapse: separate;
	border-spacing: 0 3em;
}

.study-table tr {
	line-height: 1.1;
	vertical-align: top;
}

.study-table tr td p {
	margin: 0 0 1em;
}

.study-table tr td:first-child {
	text-align: right;
	padding-right: 3em;
	min-width: 6em;
}

.study-detail-table {
	margin-left: -3em;
}

.study-date {
	font-size: 1.2em;
	padding-top: 1em;
}

.study-text {
	padding-top: 0.3em;
	line-height: 1.3;
}

.study-title {
	font-size: 1.4em;
}

.study-place {
	font-size: 1.1em;
	padding-bottom: 1.5em;
	padding-top: 0.5em;
	font-style: italic;
}







a {
	color: #07a;
	text-decoration: none;
}

a:visited {
	color: #941352;
}

a.no-visited:visited {
	color: #07a;
}

a:hover {
	text-decoration: underline;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

blockquote {
	color: #456;
	margin-left: 0;
	margin-top: 2em;
	margin-bottom: 2em
}

blockquote span {
	float: left;
	margin-left: 1rem;
	padding-top: 1rem
}

blockquote author {
	display: block;
	clear: both;
	font-size: .6em;
	margin-left: 2.4rem;
	font-style: oblique
}

blockquote author:before {
	content: "- ";
	margin-right: 1em
}

blockquote:before {
	font-family: Times New Roman, Times, Arial;
	color: #666;
	content: open-quote;
	font-size: 2.2em;
	font-weight: 600;
	float: left;
	margin-top: 0;
	margin-right: .2rem;
	width: 1.2rem
}

blockquote:after {
	content: "";
	display: block;
	clear: both
}

@media screen and (max-width:500px) {
	body {
		text-align: left
	}

	div.fancyPositioning div.picture-left, div.fancyPositioning div.tleft {
		float: none;
		width: inherit
	}

	blockquote span {
		width: 80%
	}

	blockquote author {
		padding-top: 1em;
		width: 80%;
		margin-left: 15%
	}

	blockquote author:before {
		content: "";
		margin-right: inherit
	}
}



